@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?6rf6zq');
	src:url('../fonts/icomoon.eot?#iefix6rf6zq') format('embedded-opentype'),
		url('../fonts/icomoon.woff?6rf6zq') format('woff'),
		url('../fonts/icomoon.ttf?6rf6zq') format('truetype'),
		url('../fonts/icomoon.svg?6rf6zq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-paisajismo:before {
	content: "\e611";
}

.icon-mantenimientoservi:before {
	content: "\e612";
}

.icon-jardineria:before {
	content: "\e613";
}

.icon-aseo:before {
	content: "\e614";
}

.icon-admin:before {
	content: "\e602";
}

.icon-instalaciones:before {
	content: "\e603";
}

.icon-mantenimiento:before {
	content: "\e60d";
}

.icon-parques:before {
	content: "\e60e";
}

.icon-vias:before {
	content: "\e60f";
}

.icon-viviendas:before {
	content: "\e610";
}

.icon-phone2:before {
	content: "\e600";
}

.icon-phone:before {
	content: "\e601";
}

.icon-map:before {
	content: "\e604";
}

.icon-user-plus:before {
	content: "\e973";
}

.icon-user-check:before {
	content: "\e975";
}

.icon-shield:before {
	content: "\e9b4";
}

.icon-menu:before {
	content: "\e9bd";
}

.icon-compromiso:before {
	content: "\ea04";
}

.icon-clip:before {
	content: "\e605";
}

.icon-user:before {
	content: "\e606";
}

.icon-user2:before {
	content: "\e607";
}

.icon-user3:before {
	content: "\e608";
}

.icon-basura:before {
	content: "\e609";
}

.icon-herramienta:before {
	content: "\e60a";
}

.icon-facebook:before {
	content: "\e60b";
}

.icon-twitter:before {
	content: "\e60c";
}

