@import "normalize.styl"
@import "fonts.styl"
//estilos banner
@import "jquery.bxslider.styl"
//estilos para animaciones de contenedor-proyectos
@import "estile-proyectos.styl"
//estilos tabss
@import "estilo-tab.styl"
.servicios-mas
	padding 5px
	background #535993
	border-radius 5px
	display inline-block
	margin 0 auto
	margin-top 5px
.bx-pager
	display	 none
.slide 
	width 140px  !important
	margin-right 0 !important
	img
		width 95%
.bx-wrapper
	max-width 100% !important
.contenedor-servicios
	padding 0
.contenedor-info-diseñador
	a 
		color green
.imagen-servicio
	width 38%
	margin 1%
	img 
		width 100%
.info-detallada-servicio
	width 60%
	margin-bottom 20px
	p 
		margin-bottom 16px
		color gray
		text-align justify
	ol
		list-style initial
		padding-left 40px
		color gray
p
	margin 0
a
	text-decoration none
	
ul
	margin-bottom .2em
	margin-left 0
	
ol 
	list-style none
	margin 0
	padding-left 16px
body
	font-size 18px
	font-family "nunito"
figure 
	margin 1em

h2 	
	color gris
	margin-top 0
	font-size 2em
form
	height 410px
//clases utilitarias
.left
	float left
.right
	float right
.overflow
	overflow hidden
.absolute
	position absolute
.relative
	position relative
.block
	display block
	
//css personalizado
#btn-menu-mostrar,
#btn-menu-esconder
	display none
	position relative
	margin .3em
	font-size 2em
	right 0
.content-width
	max-width 1000px
	margin 0 auto
	background white
	padding-bottom 1em
	&:last-child
		padding 0
.otra-empresa
	height 2em
	background #f2f1f1
	margin-right 10px
	p 
		float right
		margin-right 70px 
		a
			color black
.logo
	margin 0 0 0 3em
.cabezera
	position relative
.telefono
	margin-left 2em
.icono-contacto
	margin 0
	margin-right 6px
	font-size 3em
.contacto
	right 3em
	top 0
	margin-top 2em
	h4
		margin 0
.menu  
	height 3em
	margin-top 1em
	li	
		
		display inline-block
		list-style none
		padding 0 .5em
		&:last-child
			border none	
		a
			background white
			color black	
			padding .2em .5em
	ul
		float right
		margin 0
		padding 0
nav
	border-bottom solid 1px #f2f1f1
.servicios-centrar
	
	display block
	width 16.6666%
	float left
	margin-bottom 1em
	.servicios
		color #e7a950
		border solid 3px #E7A950
		width 90%
		margin 0 auto
		border-radius 5px
		height 166px
		font-size 6em
		text-align center
		padding-top 10px
		&:hover
			-webkit-transition-property color, border
			-webkit-transition-duration 1s
			color #f0541c
			border-color #f0541c
		
		&:hover p
			-webkit-transition-property color
			-webkit-transition-duration 1s
			color #f0541c
		figure
			width 70%
			margin 0 auto
		a
			width 100%
			height 100%
			
	img
		border solid 1px
		border-radius 50%
		border-color white
		width 100%
		margin-top 1.2em
		
		
	p
		text-align center
		color black
		margin 0
		color #e7a950
		font-size 22px
		line-height 20px
.contenedor-diferencias
	h2
		margin-bottom .4em
	margin-bottom 20px
		
	article
		width 50%
		height 185px
		float left
		color gray
		p
			text-align justify	
			width 90%
			margin 0 auto
			color gray
			&:hover
				-webkit-transition-property color
				-webkit-transition-duration 1s
				color black	
		&:hover h3
			-webkit-transition-property color
			-webkit-transition-duration 1s
			color #5D6397
			color gris	
		
.contenedor-proyectos
	width 100%
	div
		width 100%
		height 100%
		float left
		.nombre-proyecto
			margin 0
			float right
		p
			margin 1em
		img
			min-height 11em	
	h2
		margin-top 20px
.info-proyecto
	.info-titulo
		width 30%
		text-align center
		margin 1em 0
	.info-descrip
		width 70%
		margin: 1em 0
		text-align justify
.img-descrip-proyec
	margin 0
	img
		width 100%
	h3,
	p 
		width 100%

.contenedor-clientes
	.cliente
		width 100%
		float left
	figure
		margin 0
		width 100%
		img
			width 100%
.fondo-cte-footer
	width 100%
	background-color #444444
	.content-width
	footer
	.contenedor-info-diseñador
		background-color #444444
		h3 
			color white
			font-size 10px
			margin 0
footer
	background-color gray
	.div-footer
		margin-top 1em
		width 33%
		float left
		a
			color gray
		iframe
			width 100%
			height 260px
	li,
	h4
		color white
	.icon-map
		margin-left 0 .5em
		

.contenedor-info-diseñador
	height 1em
	background-color gray


.formulario-contacto
	height 378px
	width 29%
	margin-left 1%
	input 
		height 2em
		margin-bottom 1em
		width 100%
		&:first-child
			margin-top 1em
	textarea
		width 100%
		height 7em
		overflow hidden
		padding 0
	#submit
		margin-top 1em
		width 100%
		height 3em
	.img-contacto
		left -7px
		width 100%
		height 3.3em
		figure
			margin 0
			width 100%
			img
				width 100%
#form
	width 73%
	margin 0 7%
	padding 5px 13px 0px 13px
	background #f0541c
	position absolute
	top 0
	padding-top 3em
		
.contenedor-banner
	width 70%
	p
		position absolute
		background rgba(37, 52, 47, 0.5)
		color white
		bottom 18pxpx
		height 3em
		width 100%
		padding-left .5em
	.owl-buttons
		position absolute
		top 0
		width 100%
	.owl-pagination
		display none
	img
		height 100%
		width 100%


.ch-grid
	li
		height 200px
		margin-bottom 1em
		margin-RIGht 2%
.ch-item
	figure
		margin 0
		position absolute
		img
			width 100%
			height 187px
.red-f
	font-size 2em
	float left
	color blue
	position absolute
	right 0
	top 0
	overflow hidden
	padding 0 20px
	
	
#btn-ver-mas
	background rgb(18, 21, 53)
	padding 0 30px
	border-radius 10px
	color white	
	border solid 1px white	
.centrar-cliente
	width 19%
	overflow hidden
	display inline-block	
///////////////////////////tabs
.accordion 
	.accordion-navigation
		.hvr-bounce-to-bottom
			background #00796B

			border-bottom 4px solid
			&:before
				background #009688 !important
.imagen-proyecto
	width 90%
	margin 0 auto
	margin-bottom 1em
	margin-top 1em
	img
		width 100%
.info-detallada-proyect
	width 66%
	min-height 100px
	padding 0 2% 
	p
		text-align justify
		color gray		
		
		
.otra-info
	width 30%
	min-height 300px
	background rgba(220, 220, 220, 0.1)
	&:hover 
		-webkit-transition-property background
		-webkit-transition-duration 1s
		background rgba(220, 220, 220, 0.5)
	ul
		padding 0
		li
			list-style none
			margin 1em 4em
			a
				color black
				margin-bottom 15%
				
.quienessomos
	display inline-block
	width 100%
	img
		width 100% 
	 
				
.contenedor-servilaboral
	.servicios-servilaboral
		width 50%
		float left
		.icono-servi
			font-size 100px
			border 17px solid rgba(36, 24, 24, 0.6)
			padding 10px
			display INLINE-BLOCK
			border-radius 50%
			margin 16px 
			&:hover
				-webkit-transition-property border
				-webkit-transition-duration 1s
				border-color rgba(36, 24, 24, 0.3)
		.info-servi,
		span
			font-size 30px
			height 186px
			line-height 186px
			color #FF9C7A
	h1
		color #FF9C7A			

		
		
			
			


	



@media screen and (max-width 1000px)
	.content-width	
		max-width 800px
	.contenedor-diferencias
		article
			width 50%
			height 160px
	.servicios-centrar 
		p
			font-size 18px
	#form 
		width 70%
	form 
		height 320px
	.formulario-contacto
		height 378px
		width 29%
		margin-left 1%
		input 
			height 1em
			&:first-child
				margin-top 0em
		textarea
			height 7em
			
		#submit
			height 2em
	
@media screen and (max-width 900px)
	.contenedor-servilaboral 
		.servicios-servilaboral 
			p,
			span
				float none !important
				display block
			span
				line-height 20px
				height 30px
				
@media screen and (max-width 800px)
	.content-width	
		max-width 700px
	.contacto
		display none
	.cabezera
		.logo
			width 70%
			margin 0 auto
			img
				width 100%
	
	.formulario-contacto 
		display none
	.contenedor-banner
		width 100%
	.contenedor-diferencias
		article
			width 100%
	.contenedor-servicios 
		.servicios-centrar 
			width 33.3333%
			.servicios
				width 65%
				figure
					width 60%
	.info-titulo
		float none
	.info-descrip
		float none	
		width 95% !important
		margin 0 auto !important
	
	
	.imagen-servicio
		width 100%
		margin 1%
		img 
			width 90%
		margin 16px 5%
	.info-detallada-servicio
		width 90%
		margin 0 5%
		
		
@media screen and (max-width 700px)
	.content-width	
		max-width 600px
	.contenedor-banner
		display none
	
	.menu
		display none
		border none
		height 11em
		margin 1em 0
		ul 
			float none
			li
				display block
				border none
				margin-bottom .1em
				padding .3em
				a
					width 100%
					margin-bottom 5px
	#btn-menu-mostrar
		display  inline-block
	
			
	.logo
		margin 0

	.contenedor-banner
		width 100%
		
	.formulario
		background white
		width 100%
		margin 0 auto
		float none
		form
			width 60%
			margin 0 auto	
			
	.info-detallada-proyect
		width 100%
		folat none
		margin-bottom 20px
		p
			width 90%
			margin 0 5%
			
	.otra-info
		width 100%
		ul
			width 100%
			li
				margin 0 auto
				display table
				margin-bottom 20px
		
		




	
@media screen and (max-width 600px)
	
	.content-width	
		max-width 500px
	.contenedor-diferencias
		article
			width 90%
			float none
			margin 0 auto
			margin-left 5px
			h4 
				margin-bottom .4em
				
	footer
		.div-footer
			width 45%
		.sale
			display none
	
	
	.contenedor-servicios
		.servicios-centrar
			width 50%

	.reveal-modal
		text-align center
		figure
			margin 0 auto
	
			
@media screen and (max-width 450px)
	footer
		.div-footer
			padding-left 1em
		.div-footer
			width 90%
		.sale
			display block
	.contenedor-info-diseñador
		height 1em	
		h3
			font-size 13px !important
		.icon-twitter
		.icon-facebook
			font-size 1em
	.contenedor-clientes
		.centrar-cliente
			width 49%
			margin 0 auto
			&:last-child
				display none
		figure
			width 50%
			margin 0 auto
	.contenedor-servicios 
		.servicios-centrar 
			width 100%
			margin 0 auto
			margin-bottom 5px
	.contenedor-servilaboral 
		h1
			font-size 30px 
			margin 0 5px
		.servicios-servilaboral
			width 60%
			margin 0 20%
			span
				font-size 20px !important
	


	