<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Plomeria</title>
		<link rel="icon" type="image/png" href="../../img/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />


		<!--estilos principales de las paginas-->
		<link rel="stylesheet" href="../../css/styles.css" />

		<!--libreria para hover-->
		<link rel="stylesheet" href="../../css/hover-min.css" />

        <!--fuentes-->
		<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
		
		<!--archivos js-->
		<script src="../../js/modernizr.js"></script>

		<!--sripts para tabs-->
	    <script src="../../js/jquery-1.9.1.min.js"></script> 

	    <!--estilos del menu y el js del mismo--> 
	    <link rel="stylesheet" href="../../css/estilosmenu.css">
 		<script src="../../js/menu.js"></script>


 		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	   
</head>
<body>

		<div class="otra-empresa">
			<div class="content-width relative">
				<p><a href="../servilaboral.html">Servilaboral</a></p>
				<a href="https://www.facebook.com/pages/Prestadores-de-Servicios-SAS/538450189624473" target="blank" class="red-f icon-facebook absolute"></a>
			</div>
		</div>

		<section class="content-width">
			<div class="cabezera">
			    <div>
			        <figure class="logo">
			            <img src="../../img/prestadoresdeservicios.png" alt="" width="300" height="auto">
			        </figure>
			    </div>

			    <!--numeros de contacto-->
			    <div class="contacto absolute">
			    	<h4>LLamanos</h4>
					<div class="left">
						<p class="left icon-phone icono-contacto"></p>
						<p class="left celtel">833 31 57<br>835 32 98 </p>
					</div>
					<div class="left  telefono">
					    <p class="left icon-phone2 icono-contacto"></p>
					    <p class="left celtel">316 741 0906<br>320 346 6553</p>
					</div>
			    </div> 
			</div>

			<div id='cssmenu'>
				<ul>
					<li><a href='../../index.html'><span>Inicio</span></a></li>
					<li class='active has-sub'><a href='../servicios.html'><span>Servicios</span></a>
					<ul>
						<li class="has-sub submenu"><a href='#'><span>Tipo 1</span></a>
							<ul>
								<li class="subsubmenu"><a href='#'><span>Sub Product</span></a></li>
								<li class="last subsubmenu"><a href='#'><span>Sub Product</span></a></li>
							</ul>
						</li>
						<li class="has-sub submenu"><a href='#'><span>Tipo 2</span></a>
							<ul>
								<li class="subsubmenu"><a href='#'><span>Sub Product</span></a></li>
								<li class="last subsubmenu"><a href='#'><span>Sub Product</span></a></li>
							</ul>
						</li>
					</ul>
					</li>
					<li class='active has-sub'><a href='#'><span>proyectos</span></a>
						<ul>
							<li><a href='../proyectos/proyecto1.html'><span>Parque Infantil</span></a></li>
							<li><a href='../proyectos/proyecto2.html'><span>Cabaña Piscilago</span></a> </li>
							<li><a href='../proyectos/proyecto3.html'><span>Parque de  Andalucia   </span></a></li>
							<li><a href='../proyectos/proyecto4.html'><span>Villa Magdalena Flandes</span></a> </li>
							<li><a href='../proyectos/proyecto5.html'><span>Puerto Peñaliza</span></a></li>
							<li><a href='../proyectos/proyecto6.html'><span>Piscilago Archivo</span></a> </li>
						</ul>
					</li>
					<li class='active has-sub'><a href='#'><span>Quienes Somos</span></a>
						<ul>
							<li><a href='../nosotros/nosotros.html'><span>Quienes Somos</span></a>
							</li>
							<li><a href='../nosotros/mision y vision.html'><span>Mision y Vision</span></a>
							</li>
							<li><a href='../nosotros/objetivos.html'><span>Objetivos</span></a>
							</li>
						</ul>
					</li>
					<li><a href='../videos.html'><span>Videos</span></a></li>
					<li class='last'><a href='../servilaboral.html'><span>Servilavoral</span></a></li>
					<li class='last'><a href='../contactenos.html'><span>Contactenos</span></a></li>
				</ul>
			</div>
		</section>

		<div class="content-width overflow">	
				<div class="text-servicios-det left">
					<div>	
                    	<h2 >Plomeria</h2>
                    	<p>qLorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi labore amet iusto fugiat! Voluptatem rem, odit inventore alias mollitia aut possimus nostrum quaerat. Quaerat excepturi vitae eius facere, nobis dolores.</p>
                	</div>
                </div>
			<div class="img-servicios-det left">	
                <img class="left" src="../../img/serviciospres/plomeria.jpg" width="333" height="551" alt="">
            </div>
		</div>


<!--fondo para poder dejar el fondo gris en el 100% de la pagina-->
		<section class="fondo-cte-footer">
			<!--footer-->
			<div class="content-width">
				<!--footer-->
				<footer class="overflow">

					<!--acerca de nosotros en footer-->
					<div class="div-footer">
						<h4>Acerca de Nosotros</h4>
						<ol>
							<li><span>Prestadores de servicios</span></li>
							<li><span>prestadoresdservicios@hotmail.com</span></li>
							<li><span>Tels: 833 31 57</span></li>
							<li><span>Cel: 3167410906 3203466553</span></li>
							<li><span>Cra. 8A No. 20A-25 Girardot-Cund</span></li>
							<li><a href="https://www.facebook.com/pages/Prestadores-de-Servicios-SAS/538450189624473" target="blank">Facebook</a></li>
						</ol>
					</div>

					<!--servicios en footer-->
					<div class="div-footer ">
						<h4>Servicios</h4>
						<ol>
							<li><span>Mampostería</span></li>
							<li><span>Acabados</span></li>
							<li><span>Enchapes</span></li>
							<li><span>Machimbres</span></li>
							<li><span>DryWall</span></li>
							<li><span>Mantenimiento de jardines</span></li>
							<li><span>Mantenimiento de piscinas </span></li>
							<li><span>Servicio de piscinero</span></li>
							<a href="servicios.html"><li class="servicios-mas"> Ver Mas</li></a>
						</ol>
					</div>

					<!--mapa-->
					<div class="div-footer sale">
						<h4 class="icon-map">  Ubicación</h4>
						<div class="ubicacion"><iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d248.66232159525654!2d-74.803142!3d4.298155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s52+Carrera+8A!5e0!3m2!1ses!2sus!4v1425010992642" width="600" height="450" frameborder="0" style="border:0"></iframe></div>
					</div>
				</footer>
			</div>
		</section>
		
		<!--info acerca de los diseñadores-->
		<section class="fondo-cte-footer">
			<div class="content-width">
			<center>	
				<a href="http://www.websmultimedia.com/contador-de-visitas-gratis" title="Contador De Visitas Gratis">
					<img style="border: 0px solid; display: inline;" alt="contador de visitas" src="http://www.websmultimedia.com/contador-de-visitas.php?id=189612">
				</a>
				<div style="display:none">
					
				<br>
				<a href='http://www.websmultimedia.com/contador-de-visitas-gratis'>Contador de visitas</a>
				<br>
				<a href='http://www.websmultimedia.com'>diseño web económico</a>
				</div>
			</center>
				<div class="contenedor-info-diseñador relative">
					<h3 id="stzEF">Diseñado por <font color="#3e9344"><a href="http://sistematizar.co/" target="blank">SistematizarEF</a></font></h3>
					
				</div>
					
			</div>
			<!-- Contador de visitas -->
<!-- Fin Contador de visitas -->

		</section>	
</body>
</html>