<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/png" href="../../img/favicon.png" />
		<title>Mantenimiento</title>


		<!--estilos principales de las paginas-->
		<link rel="stylesheet" href="../../css/styles.css" />

		<!--libreria para hover-->
		<link rel="stylesheet" href="../../css/hover-min.css" />

        <!--fuentes-->
		<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>

		
	</head>
<body>
<div class="otra-empresa">
			<div class="content-width relative">
				<p><a href="../servilaboral.html">Servilaboral</a></p>
				<a href="https://www.facebook.com/pages/Prestadores-de-Servicios-SAS/538450189624473" target="blank" class="red-f icon-facebook absolute"></a>
			</div>
		</div>
<section class="content-width">
			<!--cabezera-->
			<div class="cabezera">
			   <div>
			        <figure class="logo">
			            <img src="..\..\img\prestadoresdeservicios.png" alt="" width="300" height="auto">
			        </figure>
			    </div>
			    <!--numeros de contacto-->
			    <div class="contacto absolute">
			    	<h4>LLamanos</h4>
					<div class="left">
						<p class="left icon-phone icono-contacto"></p>
						<p class="left">833 31 57<br>835 32 98 </p>
					</div>
					<div class="left  telefono">
					    <p class="left icon-phone2 icono-contacto"></p>
					    <p class="left">316 741 0906<br>320 346 6553</p>
					</div>
			    </div> 

			    <!--botones para version mobile-->
			    <div onclick="mostrarMenu()" class="icon-menu" id="btn-menu-mostrar"></div>
				<div onclick="esconderMenu()" class="icon-menu" id="btn-menu-esconder"></div>
				<!--menu para tablet y desktop-->
				<nav class="menu" id="menu">
					<ul>
						<li ><a class="hvr-rectangle-out" href="../../index.html">Inicio</a></li>
						<li ><a class="hvr-rectangle-out" href="../servicios.html">Servicios</a></li>
						<li ><a class="hvr-rectangle-out" href="../quienes-somos.html">Quienes Somos</a></li>
						<li ><a class="hvr-rectangle-out" href="../proyectos/proyecto1.html">Proyectos</a></li>
						<li ><a class="hvr-rectangle-out" href="../servilaboral.html">Servilaboral</a></li>
					</ul>
				</nav>
			</div>
		</section>
		<div class="content-width">
		<ul class="contenedor-servicios overflow">
				<!--administración-->

						<a  href="administracion.html" >
				<li class="servicios-centrar">
					<div class="servicios icon-admin">
						<p>Administración</p>
					</div>
				</li>
						</a>
				<!--mantenimiento-->

						<a  href="mantenimiento.html">
				<li class="servicios-centrar">
					<div class="servicios icon-mantenimiento">
						<p>Mantenimiento</p>
					</div>
				</li>
						</a>
				<!--viviendas-->

						<a  href="viviendas.html">
				<li class="servicios-centrar">
					<div class="servicios icon-viviendas">
						<p>Viviendas</p>	
					</div>
				</li>
						</a>
				<!--parques infantiles-->

						<a  href="parques.html">
				<li class="servicios-centrar">
					<div class="servicios icon-parques">
						<p>Parques infantiles</p>
					</div>
				</li>
						</a>
				<!--instalaciones-->

						<a  href="instalacion.html">
				<li class="servicios-centrar">
					<div class="servicios icon-instalaciones">
						<p>Instalación</p>
					</div>
				</li>
						</a>
				<!--vias-->

						<a href="vias.html">
				<li class="servicios-centrar">
					<div class="servicios icon-vias">
						<p>vias</p>
						</div>
				</li>
						</a>
			</ul>
	</div>
	<div class="content-width overflow">
		<figure class="imagen-servicio left">
			<img src="../../img/servicios/mantenimientod.png" alt="">
		</figure>
		<section class="info-detallada-servicio left">
			<article>
				<h3>
					Mantenimiento
				</h3>
				<p>
					Contamos con una gran variedad de servicios de mantenimiento en la ciudad de Girardot y sus alrededores, los cuales son:
				<ol>
					<li>Diseño, instalación y mantenimiento de jardines y prados.</li>
					<li>Mantenimiento de piscinas y aguas en general.</li>
					<li>Preventivo y correctivo en Equipos de piscinas, jacuzzis, hidroneumáticos.</li>
					<li>Servicio de piscinero.</li>
					plomería, pintura, electricidad, carpinteria metálica, en madera, en aluminio y obras civiles
				</ol>
				</p>
			</article>
		</section>
		
	</div>

	




		<!--fondo para poder dejar el fondo gris en el 100% de la pagina-->
		<section class="fondo-cte-footer">
			<!--footer-->
			<div class="content-width">
				<!--footer-->
				<footer class="overflow">

					<!--acerca de nosotros en footer-->
					<div class="div-footer">
						<h4>Acerca de Nosotros</h4>
						<ol>
							<li>> Prestadores de servicios</li>
							<li>> prestadoresdservicios@gmail.com</li>
							<li>> Tels: 833 31 57</li>
							<li>> Cel: 3167410906 3203466553</li>
							<li>> Cra. 8A No. 20A-25 Girardot-Cund</li>
							<li><a href="https://www.facebook.com/pages/Prestadores-de-Servicios-SAS/538450189624473" target="blank">> Facebook</a></li>
						</ol>
					</div>

					<!--servicios en footer-->
					<div class="div-footer">
						<h4>Servicios</h4>
						<ol>
							<li>> Mampostería</li>
							<li>> Acabados</li>
							<li>> Enchapes</li>
							<li>> Machimbres</li>
							<li>> DryWall</li>
							<li>> Mantenimiento de jardines</li>
							<li>> Mantenimiento de piscinas </li>
							<li>> Servicio de piscinero</li>
							<a href="../servicios.html"><li class="servicios-mas"> Ver Mas</li></a>
						</ol>
					</div>

					<!--mapa-->
					<div class="div-footer sale">
						<h4 class="icon-map">  Ubicación</h4>
						<div class="ubicacion"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d994.6502713700783!2d-74.8036925!3d4.297399999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f289334060ad1%3A0x3a520498050e94bc!2sCarrera+8A+%23+20-25%2C+Girardot%2C+Cundinamarca%2C+Colombia!5e0!3m2!1ses!2ses!4v1424023023503" width="600" height="450" frameborder="0" style="border:0"></iframe></div>
					</div>
				</footer>
			</div>
		</section>
		
		<!--info acerca de los diseñadores-->
		<section class="fondo-cte-footer">
			<div class="content-width">
				<div class="contenedor-info-diseñador relative">
					<h3 id="stzEF">Diseñado por <font color="#3e9344"><a href="http://sistematizar.co/" target="blank">SistematizarEF</a></font></h3>
				</div>
					
			</div>
		</section>
		
		<!--este script es para que el boton en versionmobile sirva-->
		<script src="../../js/interacion.js"></script>

</body>
</html>
